footer.py-5.bg-dark
  .container
    p.text-center.text-white
      | Made with ❤️ by
      a.text-white(href='https://ahmedkamal.ml', target='_blank') @AhmedKamal
    p.m-0.text-center.text-white &copy; Your Website #{new Date().getFullYear()}
