block config
  include _config.pug

doctype html
html
  head
    meta(charset='UTF-8')
    meta(
      name='viewport',
      content='width=device-width, initial-scale=1, shrink-to-fit=no'
    )
    base(href='/')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title #{title ? (title + ' - ') : ''}Bootstrap Boilerplate
    block styles

  body
    include _header.pug

    main.container
      block content

    include _footer.pug
    block scripts
